@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.home_main {
  height: 90vh;
  z-index: 1;
  background: linear-gradient(
    -45deg,
    #7d26cd,
    #9b30ff,
    #9a32cd,
    #e066ff,
    #ff00ff
  );
  color: #adddce;
  margin-top: 10vh;
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.home_main h2 {
  font-family: "Redressed", cursive;
}
.home_main .intro {
  padding-top: 225px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 15%;
}
.space {
  display: flex;
  height: 100px;
}
.home_main .social {
  /* position: fixed; */
  padding-top: 120px;
  display: flex;
  width: 200px;
  height: 10vh;
  justify-content: space-between;
}
.social a {
  color: inherit;
}
.social a :hover {
  color: #ff00ff;
}

@media only screen and (max-width: 600px) {
  .social a {
    cursor: default;
  }
}
